mixin cardProd(srcImg, listColor, name, price, idPopup, imgPopup)
    .card-product(id=idPopup)
        img(src=srcImg, alt='placeholder').card-product__img
        .card-product__info
            h3.card-product__name
                |#{name}
            ul.list-colors
                each val in listColor
                    li(style=`background-color:${val}`).list-colors__item
            p.card-product__price
                |From Price <br>
                |#{price}
    .card-popup
        .card-popup__block
            img(src='images/mixins/card-product/images/close-popup.webp').card-popup__close-btn
            img(src=imgPopup, alt='placeholder').card-popup__img
            .card-popup__info
                h3.card-popup__title
                    |#{name}
                ul.list-colors
                    each val in listColor
                        li(style=`background-color:${val}`).list-colors__item
                .card-popup__price
                    |From Price <br>
                    |#{price}
                .card-popup__text
                    |This exclusive design has a designated laptop-only section that unfolds to lay flat on
                    |the X-ray belt to increase your speed, convenience and
                    |security. (Pens, Laptop and other devices shown are
                    |not included)
                .card-popup__bottom-info
                    .card-popup__bottom-info__left
                        .card-popup__bottom-info__size
                            .card-popup__bottom-info__size__title
                                |Размер
                            ul.card-popup__bottom-info__size__list
                                li.card-popup__bottom-info__size__list__item
                                    |XS
                                li.card-popup__bottom-info__size__list__item
                                    |S
                                li.card-popup__bottom-info__size__list__item
                                    |M
                                li.card-popup__bottom-info__size__list__item
                                    |L
                                li.card-popup__bottom-info__size__list__item
                                    |XL
                        button.card-popup__bottom-info__btn
                            |Заказать
                    .card-popup__bottom-info__right__characteristics
                        h4.card-popup__bottom-info__characteristics__title
                            |Характеристики
                        .card-popup__bottom-info__characteristics-item
                            p.card-popup__bottom-info__characteristics-name
                                |Материал
                            p.card-popup__bottom-info__characteristics-value
                                |100% хлопок
                        .card-popup__bottom-info__characteristics-item
                            p.card-popup__bottom-info__characteristics-name
                                |Нанесение
                            p.card-popup__bottom-info__characteristics-value
                                |вышивка, термопечать
                        .card-popup__bottom-info__characteristics-item
                            p.card-popup__bottom-info__characteristics-name
                                | Торговая марка
                            p.card-popup__bottom-info__characteristics-value
                                | 100% хлопок
                        .card-popup__bottom-info__characteristics-item
                            p.card-popup__bottom-info__characteristics-name
                                | Плотность, г/м
                            p.card-popup__bottom-info__characteristics-value
                                | 150

