mixin cardProd(srcImg, listColor, name, price, idPopup)
    .card-product(id=idPopup)
        .card-product__img
            img(src=srcImg, alt='placeholder')
        .card-product__info
            h3.card-product__name
                |#{name}
            ul.card-product__color
                each val in listColor
                    li(style=`background-color:${val}`).card-product__color__item
            p.card-product__price
                |From Price <br>
                |#{price}
    .card-popup

